#login {
    color: white;
}
body {
    background-image: url("backgroundimg.jpg");
    background-size: 100%;
}

#LoginScreen {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    width: 400px;
    height: 500px;
    margin-top: 50px;
    margin-left: 400px;
}

#RegisterScreen {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    width: 400px;
    height: 500px;
    margin-top: 50px;
    margin-left: 400px;
}

#avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }

#b {
      background-color: rgb(169, 9, 9);
      color: white;
      border-radius: 12px;
      width: 200px;
  }
  #b1 {
      background-color: rgb(169, 9, 9);
      color: white;
      border-radius: 12px;
      width: 200px;
      height: 100px;
  }

  #p1 {
      color: white;
  }

  .header {
    position: fixed;
    padding: 10px 10px 0px 10px;
    top: 0;
    width: 100%;
    background: white;
    color: white;
  }

  .logo {
      height: 50px;
      left: 60%;
  }
  
table {
    background-color: white;
    border-collapse: collapse;
    width: 50%;
    margin-left:auto; 
    margin-right:auto;
}

#managesharing {
    color: rgb(169, 9, 9);
    background-color: white;
    border-radius: 12px;
    width: 200px;
    height: 50px;
    margin-left: 1000px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

td:hover{
    background-color: grey;
      
}

#recipelisttitle {
    color: white;
    text-align: center;
    font-family: "Lucida Handwriting";
}

.footer {
    position: sticky;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: grey;
    color: white;
}

.LomoSaltado {
    height: 325px;
    width: 375px;
    border: 10px solid rgb(255, 255, 255);
}
#ingredTitle, #descTitle, #directionsTitle {
    font-family: "Lucida Handwriting";
    color: rgb(225, 184, 61);
    text-shadow: 2px 2px red;
}
#lomotitle {
    font-family: "Lucida Handwriting";
    color: white;
}

#description {
    color: white;
    background: rgba(186, 7, 7, 0.475);
    width: 800px;
    height: 100px;
    margin-top: 50px;
    font-family: "Lucida Console";
    margin-left: 200px;
}
#descriptiontable {
  color: white;
  width: 800px;
  height: 100px;
}
#ingerdients {
  color: white;
  background: rgba(186, 7, 7, 0.475);
  width: 800px;
  height: 300;
  margin-top: 10px;
  font-family: "Lucida Console";
  margin-left: 200px;
}
#ingredientstable {
  color: white;
  width: 800px;
}
#directions2 {
  color: white;
  background: rgba(186, 7, 7, 0.475);
  width: 800px;
  height: 600;
  margin-top: 10px;
  font-family: "Lucida Console";
  margin-left: 200px;
}
#directionstable {
  color: white;
  width: 800px;
}
#datable {
  color: white;
  align-items: left;
}

#titleandpic {
    text-align: center;
}

.modal-title {
    text-align: center;
}

  #share, #cancel {
      background-color: rgb(169, 9, 9);
      color: white;
  }


  th {
    color: rgb(169, 9, 9);
  }

  label {
    font-size: 1em;
  }
  
  input[type=checkbox]:checked + label {
    color:black;
    text-decoration: line-through;
  }
.cbox {
    font-size: 3em;
    color:red;
    text-decoration: line-through;
  }

  #sends {
    background-color: rgb(169, 9, 9);
    color: white;
    border-radius: 12px;
    width: 100px;
}

#ok {
    background-color: rgb(169, 9, 9);
    color: white;
}

#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  #myTable1 {
    width: 1000px;
  }
  .table1 {
    background-color: white;
  }
  
  #myTable1 th,
  #myTable1 td {
    text-align: left;
    padding: 12px;
  }
  
  #myTable1 tr {
    border-bottom: 1px solid #ddd;
  }
  
  #myTable1 tr.header,
  #myTable1 tr:hover {
    background-color: #f1f1f1;
  }

  #restpass1 {
    color: white;
    width: 100px;
    height: 100px;
    margin-top: 50px;
    margin-left: 400px;
  }

  #descriptioninput {
    width: 1000px;
    height: 1000px;
  }

  /*  */
  .sort-column {
    cursor: pointer;
  }
